[submodule "librealsense"]
	path = librealsense
	url = https://github.com/IntelRealSense/librealsense.git
[submodule "src/librealsense"]
	path = src/librealsense
	url = https://github.com/IntelRealSense/librealsense.git
