[submodule "src/librealsense"]
	path = src/librealsense
	url = https://github.com/IntelRealSense/librealsense.git
[submodule "src/lidar/sick_scan_xd"]
	path = src/lidar/sick_scan_xd
	url = https://github.com/SICKAG/sick_scan_xd
[submodule "sick_scan_xd"]
	path = sick_scan_xd
	url = https://github.com/SICKAG/sick_scan_xd
[submodule "src/sick_scan_xd"]
	path = src/sick_scan_xd
	url = https://github.com/SICKAG/sick_scan_xd
