name: video
description: A sample command-line application.
version: 1.1.0
publish_to: none

resolution: workspace
environment:
  sdk: ^3.6.0

# Add regular dependencies here.
dependencies:
  burt_network: ^2.7.0
  typed_isolate: ^6.0.0
  ffi: ^2.1.0
  protobuf: ^3.1.0
  dartcv4: ^1.1.4

dev_dependencies:
  ffigen: ^19.1.0
  test: ^1.21.0
  very_good_analysis: ^6.0.0

ffigen:
  # Run with `dart run ffigen --config ffigen.yaml -v severe`.
  name: LibRealSenseBindings
  description: |
    Bindings for the RealSense SDK.

    Regenerate bindings with `dart run ffigen --config ffigen.yaml -v severe`.
  output: "lib/src/generated/librealsense_ffi_bindings.dart"
  headers:
    entry-points:
      - "src/realsense_ffi.h"
    include-directives:
      - "src/realsense_ffi.h"
  comments:
    style: any
    length: full
  type-map:
    native-types:
      'char':  # Converts `char` to `Utf8` instead of `Char`
        'lib': 'pkg_ffi'
        'c-type': 'Utf8'
        'dart-type': 'Utf8'
  compiler-opts:
    - '-Isrc/librealsense/include'

